@media (min-width: 46rem) {
  
  .header-title {
    transform: translate(5%, -50%);
  }
  
  .hello-title {
    transform: translateX(20vw);
  }
  
  .anim-outer-left {
    transform: translate(0%, -50%);
  }
  
  .anim-inner-left {
    transform: translateX(0);
  }
  .header-details {
    left: 10%;
  }
  .header-title {
    top: 45%;
  }
  .header-title .hello-title {
    font-size: 2rem;
    font-size: clamp(2rem, 6vw, 5rem);
    margin-bottom: 2rem;
  }

  .header-title .name-title {
    margin-right: 2rem;
    font-size: clamp(2rem, 10vw, 8rem);
  }

  .header-title .subtitle {
    margin-top: 4rem;
    font-size: clamp(1rem, 3vw, 2.2rem);

    letter-spacing: 1px;
  }
  #circle-container {
    left: 8%;
    bottom: 20%;
  }

  /* ==================================== */
  /* ==========  MAIN SECTION============ */
  /* ==================================== */
  .text-defile {
    font-size: 4rem;
    animation: defile-anim 100s infinite linear;
  }

  #course-section{
    margin-top: 15rem ;
  }

  #course-section .dates {
    font-size: 4rem;
  }
  #about,
  .course-subject {
    width: 82%;
    margin:  auto;
  }
  .about-section1 h3,
  .about-section2 h3 {
    font-size: 2.5rem;
  }

  .front-subject .subject-content,
  .back-subject .subject-content {
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  .swiper-container {
    width: 85%;
  }

  #projects{
    margin-top: 20rem;
  }
  #projects h3 {
    font-size: 4rem;
    margin-top: 8rem;
    margin-bottom: 6rem;

  }
  .slider-title p:first-child {
    font-size: 1.8rem;
    font-weight: 500;
  }
  .slider-title p:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  .project1-content .project-title {
    font-size: 1.8rem;
  }

  .project1-content {
    font-size: 1.2rem;
    width: 70%;
  }

  .project1-links {
    font-size: 1.8rem;
    margin-top: 2rem;
    text-align: left;
  }

 
  #course-section .current-course p:first-child {
    font-size: 2.3rem;
  }
}
@media (min-width: 46rem) {
  .header-title {
    transform: translate(5%, -50%);
  }
  
  .hello-title {
    transform: translateX(20vw);
  }
  
  .anim-outer-left {
    transform: translate(0%, -50%);
  }
  
  .anim-inner-left {
    transform: translateX(0);
  }
}

@media (min-width: 70rem) {
  

  .about-section1 {
    display: flex;
    align-items: center;
    max-width: 100rem;
  }

  .about-section1-img-box,
  .about-section1-content {
    width: 50%;
  }

  .about-section1 h3,
  .about-section2 h3 {
    font-size: 3rem;
  }

  .about-section2 h3 {
    margin-bottom: 2.5rem;
  }
  .about-section2 h3:after {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .about-section1-content p {
    line-height: 1.8;
  }
  .about-section1-img-box {
    max-width: 700px;
  }

  .about-section1-img {
    width: 100%;
    max-width: 35rem;
  }

  .about-section1-img-box::after {
    max-width: 30rem;
  }
  .about-section1-content {
    font-size: 1.1rem;
  }
  .about-section1-content .goal {
    font-size: 1.5rem;
  }

  .about-section2 {
    max-width: 62rem;
    text-align: center;
    margin: 10rem auto 2rem;
  }

  .about-section2 p {
    line-height: 2;
    font-size: 1.2rem;
  }
  #course-section {
    margin-top: 20rem;
  }
  #course-section .current-course p:first-child {
    font-size: 2.6rem;
  }
  #course-section .current-course p:nth-child(2) {
    font-size: 1.5rem;
  }

  #course-section .dates {
    font-size: 5rem;
    margin-bottom: 7rem;
  }

  .course-subjects-container {
    display: flex;
  }

  .course-subject {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .front-subject .subject-content,
  .back-subject .subject-content {
    margin-top: 1rem;
  }


  .empty-subject {
    display: block;
    width: 15%;
  }

  #projects{
    margin-top: 25rem;
  }

  #projects h3 {
    font-size: 5rem;
  
  }
  .project1 {
    display: flex;
    width: 90%;
    margin: auto;
    max-width: 78rem;
  }
  .project1-img {
    width: 40%;
  }
  .project1-img .big-img {
    width: 100%;
  }

  .project1-img .small-img {
    width: 75%;
    left: 50%;
  }
  .project1-content {
    width: 60%;
    padding-left: 15%;
  }
}


@media (min-width: 90rem) {
  .header-title {
    transform: translate(12%, -50%);
  }
  
  .hello-title {
    transform: translateX(18vw);
  }
  
  .anim-outer-left {
    transform: translate(0%, -50%);
  }
  
  .anim-inner-left {
    transform: translateX(0);
  }
}