/* font-family: 'Libre Franklin', sans-serif;
font-family: 'Playfair Display', serif; */
:root {
  --dark: rgb(36, 36, 36);
  --primary-blue: #0bceff;
  --primary-blue-soft: rgba(11, 206, 255, 0.5);
  --secondary-purple: rgb(138, 118, 189);
  --secondary-purple-soft: rgba(138, 118, 189, 0.6);
  scroll-behavior: smooth;
}

body {
  font-family: "Libre Franklin", sans-serif;
  position: relative;
}

.no-display {
  display: none;
}

strong{
  font-weight: 700;
}
/* ===================================== */
/* ============= HEADER ================ */
/* ===================================== */

header {
  position: fixed;
  top: 0;
  overflow-x: hidden;
}

.content--canvas {
  width: 100vw;
  height: 100vh;
}

.header-content {
  position: relative;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.header-details {
  color: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 1rem;
  left: 10%;
  top: 8%;
  font-size: 3.5vw;
  z-index: 100;
}

.header-title {
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding-left: 12%;
}

.header-title p:first-child{
  letter-spacing: 2px;
  font-size: 2rem;
  font-size: clamp(2rem, 8vw, 3rem);
}

.header-title h1 {
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.2;
  font-size: 5rem;
  font-size: clamp(2rem, 18vw, 6rem);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  letter-spacing: 2px;
}

.header-title .subtitle {
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  font-size: clamp(1rem, 3vw,2rem);
  font-weight: 500;
  letter-spacing: 1px;
}

/* SVG CIRCLE SCROLL */
/* ============================= */
#circle-container {
  bottom: 20%;
  position: absolute;
  z-index: 100;
  width: 180px;
  height: 60px;
  left: 5%;
}

#circle {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

#circle text {
  text-transform: uppercase;
  font-size: 0.95rem;
  letter-spacing: 2px;
  font-weight: bold;
  animation: rotate 10s infinite linear;
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

#circle svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200px;
}

#circle .fa-arrow-down {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translateX(-50%);
}

/* ==================================== */
/* ==========  MAIN SECTION============ */
/* ==================================== */
#butter {
  /* position: fixed;
  top:0 */
  /* margin-top: 100vh; */
  margin-bottom: 350px;
}
main {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  position: relative;
  width: 100%;
  /* position : fixed; */
  margin-bottom: 350px;
  margin-top: 100vh;
  padding: 5rem 0;
}

#defile {
  overflow-x: hidden;
}
#text-defile {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 3px;
  color: transparent;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: rgba(11, 206, 255, 0.25);
  stroke-width: 0.2rem;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 2em;
  padding-left: 100%;
  white-space: nowrap;
  animation-delay: -5;
  animation: defile-1 30s infinite alternate linear;
  margin-bottom: 8rem;
}

@keyframes defile-1 {
  0% {
    transform: translate3d(-20%, 0, 0); /* position initiale à gauche */
  }
  100% {
    transform: translate3d(-50%, 0, 0); /* position finale à droite */
  }
}

/* ==================================== */
/* =========ABOUT SECTION ============= */
/* ==================================== */
#about {
  width: 90%;
  margin: auto;
}
.about-section1-img {
  text-align: center;
  margin-bottom: 2rem;
}
.about-section1-img img {
  width: 90%;
}

.about-section1-content p {
  line-height: 1.5;
  margin-top: 1rem;
  font-weight: 300;
}

.about-section1-content .goal {
  color: var(--primary-blue);
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 2rem;
}

.cv-btn {
  background: none;
  display: block;
  width: 75%;
  max-width: 350px;
  text-align: center;
  margin: 8rem auto 3rem;
  position: relative;
  line-height: 1.5;
}

.cv-btn a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(1rem, 2vw, 1.3rem);
  font-weight: 700;
  overflow: hidden;
  display: block;
  position: relative;
  padding: 1em 2em;
  transition: 0.5s;
  z-index: 1;
}

.cv-btn .rect-border {
  position: absolute;
  border: 2px solid #fff;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: 0.3s;
}

.rect-border:first-child {
  transform: translate(-2%, -8%);
}
.rect-border:nth-child(2) {
  transform: translate(3%, 6%);
}

.cv-btn:hover .rect-border {
  transform: translate(0%, 0%);
}
.cv-btn:hover a {
  background-color: #405fc3;
}

.about-section2 {
  margin-top: 8rem;
  position: relative;
}

.frontend-passion {
  line-height: 1.8;
  font-weight: 300;
}

.see-project-btn {
  cursor: pointer;
  margin: 2rem 0 0 1rem;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  position: relative;
}

.see-project-btn::after {
  content: "";
  height: 110%;
  width: 40px;
  left: 0;
  top: -10%;
  z-index: -1;
  position: absolute;
  background-color: #0bceff9f;
  border-radius: 30px;
  animation: slideLeft 0.7s forwards;
}

.see-project-btn:hover::after {
  animation: slideRight 0.7s forwards;
}

@keyframes slideRight {
  0% {
    width: 40px;
  }
  55% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 40px;
    left: 80%;
  }
}

@keyframes slideLeft {
  0% {
    width: 40px;
    right: 0;
    left: 80%;
  }

  55% {
    width: 100%;
    right: 80%;
    left: 0;
  }
  100% {
    width: 40px;
    left: 0;
  }
}

.see-project-btn .fa-arrow-down {
  color: var(--primary-blue);
  padding-left: 10px;
  transition: 0.5s 0.2s;
  font-size: 1.2rem;
}

.see-project-btn:hover .fa-arrow-down {
  color: #fff;
}

/*========================================= */
/* Section- COURSE / FORMATION============= */
/*========================================= */
.course-section {
  margin-top: 10rem;
  text-align: center;
}
.course-section .current-course p:first-child {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.course-section .current-course p:nth-child(2) {
  font-size: 1.3rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.664);
}

.course-section .dates {
  margin: 1rem auto 3rem;
  text-align: center;
  font-size: 3rem;
  color: #0bceffa8;
  font-family: "Playfair Display", serif;
}

.course-subject {
  border: 1px solid rgba(255, 255, 255, 0.438);
  padding: 2rem 1rem 3rem;
}

[class^="subject-title"] {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  position: relative;
  margin-bottom: 1.5rem;
}

[class^="subject-title"] .number {
  font-size: 4rem;
  color: var(--secondary-purple);
  display: inline-block;
  position: relative;
  top: -10px;
  left: 10px;
  z-index: -1;
}

/* FRONT END SUBJECT */
/* ========================== */
.front-subject .adobe-logo {
  margin: 1rem auto 2rem;
}
.front-subject .adobe-logo span {
  display: inline-block;
  color: var(--secondary-purple);
  border: 2px solid var(--secondary-purple);
  padding: 5px;
  font-weight: 700;
  border-radius: 5px;
  margin: 0 8px;
}
.front-subject .row2 {
  margin: 1rem auto 2rem;
}

.front-subject .row2 p,
.front-subject .row3 p {
  margin-bottom: 1rem;
}
.front-subject .row2 .fab,
.front-subject .row3 .fab {
  font-size: 1.8rem;
  display: inline-block;
  color: var(--secondary-purple);
  margin: 0 8px;
}

/* BACK END SUBJECT */
/* ========================== */

.back-subject .subject-content p:first-child {
  margin-bottom: 3rem;
  line-height: 1.5;
}
.back-end-logo {
  width: 6rem;
  margin: 1rem auto;
}

.back-end-logo img {
  width: 100%;
}

/* OTHER SUBJECT */
/* ========================== */
.other-subject {
  line-height: 1.5;
}

.other-subject .subject-content p {
  margin: 1rem auto 0.8rem;
}

.other-subject .subject-content p:first-child {
  margin-bottom: 2rem;
}

.other-subject .subject-content p:nth-child(2) {
  margin-bottom: 2rem;
}
.other-subject .subject-content .fab {
  font-size: 1.8rem;
  display: inline-block;
  color: var(--secondary-purple);
  margin: 0 8px;
}

.empty-subject {
  display: none;
}

/*========================================= */
/* Section- REALISATIONS / PROJETS========== */
/*========================================= */
#projects {
  margin: 5rem auto;
}
#projects h3 {
  font-size: 3.2rem;
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-bottom: 5rem;
}

.project1-img {
  position: relative;
  margin: 6rem auto 2rem;
  width: 90%;
  max-width: 25rem;
}
.project1-img .big-img {
  width: 15rem;
  position: relative;

  opacity: 0.9;
}
.project1-img .big-img img,
.project1-img .small-img img {
  width: 100%;
  cursor: pointer;
}
.project1-img .small-img img {
  border: 1px solid rgba(255, 255, 255, 0.527);
}
.project1-img .small-img {
  position: absolute;
  width: 11rem;
  z-index: 3;
  right: 0;
  top: 40%;
}

.project1-content {
  width: 90%;
  margin: auto;
  line-height: 1.5;
}

.project1-content .project-title {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.project1-content .project-languages {
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px;
}

.project1-content .original-website {
  margin-top: 1rem;
  font-weight: 600;
}

.project1-content .original-website a {
  color: var(--secondary-purple);
}

.project1-links {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.project1-links a + a {
  margin-left: 3rem;
}
